[submodule "bundle/Command-T"]
	path = bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https://github.com/m1el/vim-javascript.git
[submodule "bundle/jsdoc"]
	path = bundle/jsdoc
	url = https://github.com/heavenshell/vim-jsdoc.git
[submodule "bundle/localvimrc"]
	path = bundle/localvimrc
	url = https://github.com/embear/vim-localvimrc.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = https://github.com/vim-scripts/matchit.zip.git
[submodule "bundle/supertab"]
	path = bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule "bundle/jshint"]
	path = bundle/jshint
	url = https://github.com/walm/jshint.vim.git
[submodule "bundle/zencoding"]
	path = bundle/zencoding
	url = http://github.com/mattn/zencoding-vim.git
